<h1>A List Of Your Purchases</h1>

<ul>
  <% @purchase_products.each() do |product|%>
    <li><%= product.name() %></li>
  <% end %>
</ul>

<h5>Total Cost: $<%= sprintf("%.2f", @total_cost) %></h5>

<a href="/cashier" class="btn btn-primary btn-large" >Return to Cashier</a>
